.mainbg {
    background-image: url(../img/bg1.jpg);
    background-position: center center;
    background-size: cover;
    height: 94vh;
    min-height: 10rem;
}

/* Header */

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.contenido-header {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.barra {
    padding-top: 1rem;
}