#menu{
    background-color: #1e1f21;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 5px 30px;
}

#menu li{
    display: inline;
    margin: 0;
    text-align: center;
}

#menu li a{
    color: white;
    padding: 5px 30px;
    text-decoration: none;
    font-size: small;
    text-align: center;
}

#menu li a:hover{
    background-color: cornflowerblue;
    color: white;
}

@media screen and (max-width: 747px){
    #menu ul{
        padding: 0;
    }
    #menu ul li{
        margin-right: -3px;
        display: inline-block;
        text-align: center;
        width: 33%;
    }

    #menu li a{
        display: list-item;
    }
}

@media screen and (max-width: 480px){
    #menu ul li{
        width: 100%;
    }
}